{% extends "auctions/layout.html" %}
{% load static %} 

{% block style %}
        <link href="{% static 'auctions/style/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-4 ms-3">{{ user | capfirst }} Profile</h2>
    <p class="mt-2 mb-4 ms-5">Joined from {{ user.get_joined_date }}</p>

    <hr>
    <div class="container-fluid">
        <h4 class="mt-5 mb-4 ms-3">Listing(s) created by {{ user | capfirst }}</h4>
        {% for listing in user_listing %}   
        <div class="row mx-1 mb-3"> 
            <img src="{% get_media_prefix %}{{ listing.image }}" class="col-sm-4 listing-image" alt="...">
            <div class="col-sm-8">
                <h5 class="listing-title">{{ listing.title }}</h5>
                <hr>
                <p class="bid-price">${{ listing.get_current_bid }} <span class="listing-num-of-bids">{{ listing.number_of_bids }} bid(s)</span></p>
                <p class="listing-description text-truncate">{{ listing.description }}</p>
                <p class="listing-datetime">Created by {{listing.owner}} on {{ listing.start_datetime }}</p>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}